.mycontainer {
  max-width: 90%;
  margin: 0px auto;
}

a {
  text-decoration: none !important;
  color: black !important;
  font-weight: 500;
  &:hover {
    text-decoration: none !important;
  }
}

body {
  overflow: hidden;
  background-color: $bg-color;
}
