.mycontainer {
  max-width: 90%;
  margin: 0px auto;
}

.main-container {
  max-width: 1100px;
  margin: 0px auto;
}

a {
  text-decoration: none !important;
  color: black !important;
  font-weight: 300;
  &:hover {
    text-decoration: none !important;
  }
}

body {
  background-color: white !important;
}

.small-text {
  font-size: 12px;
  color: $gray;
}

h2 {
  font-weight: 700 !important;
  font-size: 45px;
  span {
    color: $primary-color;
  }
}

h3{
  font-weight: bold !important;
  font-size: 18px !important;
}

strong {
  span {
    color: $primary-color;
  }
}
