.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/therainycloud/image/upload/v1614934104/banner_copy_fpzcsf.jpg");
  height: 100%;
  width: 100%;
  background-position: -100px;
}

.logo-home {
  height: 150px;
  // margin-bottom: 20px;
}

.col-lg-6 {
  padding:0px;
}
