.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/therainycloud/image/upload/v1614934104/banner_copy_fpzcsf.jpg");
  height: 100%;
  width: 100%;
  background-position: -100px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  --bs-gutter-x: 0px !important;
}

.logo-home {
  height: 150px;
  // margin-bottom: 20px;
}

.col-lg-6 {
  padding:0px;
}

section {
  text-align: center;
  padding: 100px 0px;
}


.value-proposition {
  display: flex;
  justify-content: space-between;
  img {
    height: 500px;
  }
}

.value-body {
  max-width: 35%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    color: $primary-color;
  }
}

.cta-last {
  background-color: $light-blue-bg;
  border-radius: 10px;
}

.cta-last-body {
  max-width: 70%;
  margin: 0px auto;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeInOut {
  animation: fadeInOutAnimation 1.5s;
  // animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner-body {
    display: block;
  }

  .banner-wrapper {
    padding: 60px 15px;
  }

  .banner {
    padding: 39px 15px;
    img {
      height: 400px;
    }
  }

  .banner-body-text{
    max-width: 100%;
  }

  .how-it-works h2 {
    padding-bottom: 40px;
  }

  .home-cards {
    grid-template-columns: 1fr !important;
    padding: 0px 15px;
    img {
      margin-left: 30px;
    }
  }

  .value-proposition {
    padding: 0px 15px;
    display: block;
    margin: 80px 0px;
    img {
      height: 300px;
    }
  }

  .value-body {
    max-width: 100%;
    padding-top: 30px;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {



// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

// }
