.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://res.cloudinary.com/therainycloud/image/upload/v1614934104/banner_copy_fpzcsf.jpg");
  height: 100%;
  width: 100%;
  background-position: -100px;
}

.logo-home {
  height: 150px;
  // margin-bottom: 20px;
}

.col-lg-6 {
  padding:0px;
}

section {
  text-align: center;
  padding: 100px 0px;
}


.value-proposition {
  display: flex;
  justify-content: space-between;
  img {
    height: 500px;
  }
}

.value-body {
  max-width: 35%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    color: $primary-color;
  }
}

.cta-last {
  background-color: $light-blue-bg;
  border-radius: 10px;
}

.cta-last-body {
  max-width: 70%;
  margin: 0px auto;
}

@keyframes fadeInOutAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fadeInOut {
  animation: fadeInOutAnimation 1.5s;
  // animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
