.table-bookings {
  margin-top: 50px;
  box-shadow: $box-shadow;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.mycontainer {
  width: 1100px;
}

.grid-status {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
