<div class="wrapper-header">
  <h1> <%= t('shared.sidebar.bookings') %> </h1>
  <%= link_to t('bookings.new_booking'), new_booking_path, class: "button-primary" %>
</div>

<div class="card-wrapper">
  <%= render 'shared/table.html.erb', { headers: Booking::TABLE_HEADERS, records: @bookings } %>
</div>
