<div class="main-container">
  <div class="footer">
    <%= image_tag "urbanist-logo.png", alt: "Easy platform management platform" %>
    <p class="small-text">2022 ©Avenist All rights reserved</p>
  </div>
</div>
