<div data-controller="filter">
  <table class="urban-table">
    <tbody>
      <tr class="header-row" data-filter-target="header">
        <% headers.each do |header| %>
          <th class="urban-table-header"> <%= t("table.#{header}") %> </th>
        <% end %>
          <th class="urban-table-header last-row"><%= image_tag 'filter.png', width: "20px", data: { action: "click->filter#showFilters" } %></th>
      </tr>
      <tr class="header-row d-none" data-filter-target="filters">

        <th class="urban-table-header last-row"> </th>
      </tr>
    </tbody>
    <tbody class="urban-table" data-filter-target="view">
      <% if records.any? %>
        <%= render 'shared/table_rows', headers: headers, records: records %>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <% unless records.nil? %>
      <%= will_paginate records %>
    <% end %>
  </div>
</div>
