<div class="d-none">
  tenant form here
</div>
<%#= simple_form_for tenant, html: { class: class_list } do |f| %>
  <%#= f.input :start_date, as: :date, html5: true, class: "form-control" %>
  <%#= f.input :end_date, as: :date, html5: true, class: "form-control" %>

<%# end %>
