<h1>Welcome <%= current_user.full_name %>! </h1>

<div class="card-wrapper">
  <div class="map-wrapper">
    <div class="cards cards-double">
      <div class="horizontal-card">
        <h3>Your bookings</h3>
        <p> <%= current_user.bookings.count %> </p>
      </div>
      <div class="horizontal-card">
        <h3>This month sales</h3>
        <p>  </p>
      </div>
      <div class="horizontal-card">
        <p>Here goes some content</p>
      </div>
      <div class="horizontal-card">
        <p>Here goes some content</p>
      </div>
      <div class="horizontal-card">
        <p>Here goes some content</p>
      </div>
    </div>
    <div class="horizontal-card" style="width: 50%; height: auto; margin-left: 15px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API'] %>"></div>
  </div>
</div>
