.button-primary {
  background-color: $primary-color;
  border-radius: 45px;
  color: white !important;
  padding: 10px 30px;
  height: fit-content;
  &:hover {
    background-color: $primary-color;
    color: white !important;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.06);
  }
}

.button-secondary {
  background-color: none;
  border-radius: 45px;
  color: $primary-color !important;
  padding: 10px 30px;
  border: solid 1px $primary-color;
  height: fit-content;
  &:hover {
    background-color: $primary-color;
    color: white !important;
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.06);
  }
}
