.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.home-cards {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.home-card {

}


.cards-double {
  grid-template-columns: 1fr 1fr !important;

  .horizontal-card {
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 25px;
    pointer-events: none;

    p {
      margin-bottom: 8px;
    }
  }
}

.horizontal-card {
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 25px;
  transition: .2s;
  &:hover {
    background-color: $bg-color;
  }
}

.calendar-card {
  background-color: white;
  padding: 12px;
  margin: 12px -8px;
  transition: .2s;

  &:hover {
    background-color: $bg-color;
  }

}

.calendar-card-start {
  border-radius: 10px 0px 0px 10px;
  margin-left: 0px;
}

.calendar-card-end {
  border-radius: 0px 10px 10px 0px;
  margin-right: 0px;
}

.top-5-flats {
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  margin-bottom: 4px;
}

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default;
  .pagination {
    justify-content: center !important;
  }
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  background-color: $primary-color;
  color: white;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

.card-member {
  h6 {
    font-weight: bold;
    margin-bottom: 16px;
  }

  .button-primary {
    font-weight: normal;
    text-align: center;
    padding: 8px 15px;
    width: fit-content;
  }

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  align-items: baseline;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .home-cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .home-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
