.navbar-lewagon {
  justify-content: space-between !important;
  background: white;
  position: fixed !important;
  width: 100%;
  padding: 0px 70px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
}
