.navbar-lewagon {
  justify-content: space-between !important;
  background: white;
  position: fixed !important;
  width: 100%;
  padding: 0px 70px !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
}

.navbar-link {
  color: #212529;
  font-weight: bold;
  transition: .2s;
  margin-right: 15px;
  &:hover{
    color: $primary-color !important;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .navbar-lewagon {
    padding: 0px 15px !important;
  }
}
