.urban-table {
  width: 100%;
  tr {
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 65px;
    color: $secondary-text-color;
  }
  td {
    padding: 5px;
  }

  .urban-table-header {
    color: black;
    border-bottom: 1px solid black;
  }
}

.urban-table-last {
  text-align: right;
}
